
header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px solid #ddd;*/
}

header img{
    max-width: 80px;
}

header h1 {
    font-size: 36px;
    padding-top: 8px;
}